
body
{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.top
{
 position:relative;
  top: 0;/*allows us to ensure where the fixed nav bar stays*/
 z-index: 1000;/*ensures the nav bar stays above the other elements of the page*/
    display:flex;
    flex-wrap: wrap; /*to be checked ekchoti*/
    justify-content: space-between;
    align-items: center;
    background-color: #f5f3f4;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
   border-style: ridge;
   border-top: #f5f3f4;
   border-left: #f5f3f4;
    border-right: #f5f3f4;
    width:100vw;
   
    padding:20px 30px;/*internal spacing*/
    width:80vw;
}
.logo
{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}
.icons
{
    list-style: none;
  display: flex;
  gap: 40px;
  
}
.icons li a {
  text-decoration: none;
  color:navy;
  font-size: 16px;
  transition: color 0.3s ease;
}
.icons li a:hover {
  color:#009B77;
}