
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Inter', sans-serif;
        }

        body {
            background-color:  #f5f3f4;
            display: flex;
        }

        .tit {
            width: 240px;
            background-color: #f5f3f4;
            height: 100vh;
            padding: 24px 20px;
            border-right: 1px solid #e1e4e8;
            height:100%;
   border-style: ridge;
   border-top: #f5f3f4;
   border-left: #f5f3f4;
   border-bottom: #f5f3f4;
   border-right-color:rgb(144, 141, 141);
   
   
        }

        .tit h2 {
            font-size: 25px;
            margin-bottom: 30px;
            font-weight: bold;
            color: navy;
        }
        .sidebar-item {
            color: #333;
            padding: 12px 16px;
            font-size: 16px;
            border-radius: 10px;
            margin-bottom: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;
        }
        .sidebar-item:hover {
            background-color:#01b78d;
        }

        .sidebar-item.active {
            background-color: navy;
            color:  #f5f3f4;    
            }
       
   .sidebar-item i {
            font-size: 18px;
        }
    
        